*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


/* css for the nav bar      -----> */

#main{
  width: 100%;
  height: 100%;
 

}
nav{
    position: relative;
    bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  

}
#nav-img img{
    position: relative;
    right: 50px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    
}

#heading{
    position: relative;
    right: 50px;
    display: flex;
    gap: 30px;
    font-weight: 100;

}
#heading #H{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

#heading #H{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    }

    #heading #A{
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        }

        #heading #C{
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
            }

            #heading #E{
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 125% */
                }
#heading #H:hover{
    cursor: pointer;
    color:#2270e2;
}
#heading #A:hover{
    cursor: pointer;
    color:#2270e2;
}

#heading #C:hover{
    cursor: pointer;
    color:#2270e2;
}

#heading #E:hover{
    cursor: pointer;
    color:#2270e2;
    
}



#btn{
    color: #FFF;
    text-align: center;
    
   cursor: default;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    border-radius: 3px;
    background-color:#2270e2;
    line-height: 24px; /* 150% */
    padding: 3px 5px;
}
/* css for page 1 --------------------> */

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 120vh;
    width: 100%;
    
}

#panel1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    gap: 50px;
  padding-left: 20px;
    height: 70%;
 
}

#panel1 h1{
    color: #212121;
font-family: Poppins;
font-size: 65px;
font-style: normal;
font-weight: 500;
line-height: 71.5px; /* 110% */

}

#panel1 p{
    color: #4D4D4D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}

#panel1 #btn1{
    display: flex;
padding: 12px 23.42px 12px 23.62px;
align-items: flex-start;
border-radius: 4px;
color: #fff;
font-size: 20px;
background: #2270E2;
}
#panel2{
    width: 40%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;

}

#panel2 img{
    width: 100%;
    height: 110%;
    
    object-fit: cover;
}

/* page 2 css -------------------------->*/


#page2{
    position: relative;
    top: 50px;
    width: 100%;
    height: 70vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#about{
    position: relative;
    bottom: 50px;
    font-size: 35px;
     font-weight: 800;
    font-family: poppins;
   
}
#about-me{
    display: flex;
}

#about-panel1{
width: 50%;
height: 40vh;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 20px;
padding-left: 10px;

}
#about-panel1 h1{
    width: 50%;
    position: relative;
    right: 150px;
    color: #212121;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 28.6px; /* 110% */
}

#about-panel1 p{
    color: #4D4D4D;
    width: 90%;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;

line-height: 25.6px; /* 160% */
}

#about-panel1 #btn2{
    display: flex;
    position: relative;
    right: 270px;
    padding: 12px 23.42px 12px 23.62px;
    align-items: flex-start;
    font-size: 20px;
    color: #fff;
    justify-content: flex-start;
    border-radius: 3px;
    background: #2270E2;
}

#about-panel2{
    overflow: hidden;
    border-radius: 10px;
    width: 40%;
    height: 50vh;
    
   
}
#about-panel2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* page3 services css */

.page3{
    position: relative;
    width: 100%;
    margin-top:200px ;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

#services-panel1{
    color: #212121;
text-align: center;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 39.6px; /* 90% */
}

#services-panel2{
   
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
}

#services-panel2 #box1{
    width: 25%;
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
    
    
}
#services-panel2 #box1 img{
    width: 100%;
    height: 60%;
    object-fit: cover;   
   
}
#services-panel2 #box1 h1{
    color: #212121;
font-family: Poppins;
font-size: 25px;
padding-left: 5px;
font-style: normal;
font-weight: 500;
line-height: 28.6px; /* 110% */
}

#services-panel2 #box1 p{
    color: #4D4D4D;
    padding: 5px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}

#services-panel2 #box1 #text{
    display: flex;
    position: relative;
    
    padding: 12px 23.42px 12px 23.62px;
    align-items: flex-start;
    font-size: 20px;
    color: #fff;
    justify-content: flex-start;
    border-radius: 3px;
    background: #2270E2;
}

/* box2 */

#services-panel2 #box2{
    width: 25%;
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
    
    
}
#services-panel2 #box2 img{
    width: 100%;
    height: 60%;
    object-fit: cover;   
   
}
#services-panel2 #box2 h1{
    color: #212121;
font-family: Poppins;
font-size: 25px;
padding-left: 5px;
font-style: normal;
font-weight: 500;
line-height: 28.6px; /* 110% */
}

#services-panel2 #box2 p{
    color: #4D4D4D;
    padding: 5px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}

#services-panel2 #box2 #text{
    display: flex;
    position: relative;
    
    padding: 12px 23.42px 12px 23.62px;
    align-items: flex-start;
    font-size: 20px;
    color: #fff;
    justify-content: flex-start;
    border-radius: 3px;
    background: #2270E2;
}

/* box3 */
#services-panel2 #box3{
    width: 25%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
    
   
}
#services-panel2 #box3 img{
    width: 100%;
    height: 60%;
    object-fit: cover;   
   
}
#services-panel2 #box3 h1{
    color: #212121;
font-family: Poppins;
font-size: 25px;
padding-left: 5px;
font-style: normal;
font-weight: 500;
line-height: 28.6px; /* 110% */
}

#services-panel2 #box3 p{
    color: #4D4D4D;
    padding: 5px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
}

#services-panel2 #box3 #text{
    display: flex;
    position: relative;
    
    padding: 12px 23.42px 12px 23.62px;
    align-items: flex-start;
    font-size: 20px;
    color: #fff;
    justify-content: flex-start;
    border-radius: 3px;
    background: #2270E2;
}


/* css page4 ------------------> */


#page4{
top: 100px;
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#page4-panel1{
    margin-bottom: 40px;
    color: #212121;
text-align: center;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 39.6px; /* 90% */
}
#page4-panel2{
    width: 100%;
    height: 60vh;
    display: flex;
    gap: 20px;
    justify-content:space-evenly;
    align-items: center;
    
}

#page4-panel2 #pic1{
    width: 30%;
    overflow: hidden;
    border-radius: 15px;
    height: 50vh;
  
}
#page4-panel2 #pic1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page4-panel2 #pic2{
    width: 30%;
    overflow: hidden;
    border-radius: 15px;
    height: 50vh;
   
}

#page4-panel2 #pic2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page4-panel2 #pic3{
    width: 30%;
    height: 50vh;
    overflow: hidden;
    border-radius: 15px;
   
}

#page4-panel2 #pic3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* css for page 5 -------------------> */


#page5{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

#page5-panel1{
    color: #212121;
text-align: center;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 39.6px; /* 90% */
}

#page5-panel2{
    margin-top: 50px;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

#page5-panel2 #div1{
    width: 25%;
    height: 60vh;
    box-shadow: 0px 0px 45px 0px #d3cece;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

#page5-panel2 #div1 img{
    width: 70px;
    height: 70px;
    bottom: 20px;
}

#page5-panel2 #div1 p{
    color: #4D4D4D;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 25.6px; /* 160% */
}

#page5-panel2 #div1 h3{
    color: #4D4D4D;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25.6px; /* 160% */
}
#page5-panel2 #div1 #client img{
    width: 100px;
    height: 100px;
    border: 2px solid #49A078;
    bottom: 50px;
    border-radius: 50%;
}


/* page 6 css ----------> */


#page6{
    width: 100%;
    height: 60vh;
    
    display: flex;
    background-color: rgb(71, 71, 71);
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 50px;
}

#page6 #one{
    color: #212121;
text-align: center;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 39.6px; /* 90% */
}
#page6 #two{
    color:white;
text-align: center;
font-family: Poppins;

bottom: 20px;
font-size: 18px;


font-style: normal;
font-weight: 600;
line-height: 25.6px; /* 160% */
}
#page6 #four{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
padding: 2px 4px;
font-weight: 400;
cursor: pointer;
line-height: 24px; /* 150% */
border-radius: 3px;

background: #2270E2;
}

#page6 #three input{
    display: flex;
    width: 300px;
    max-width: 630px;
    min-height: 40px;
    padding: 5.8px 14.8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
border: 1px solid rgba(2, 1, 1, 0.17);
background: #FAFAFA;
   
}

/* css for page no 7 ----------------> */


footer{
    width: 100%;
    height: 40vh;
    padding-top: 50px;
    background-color: #212121;
    display: flex;
    justify-content: space-evenly;

}

footer #elem1{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
}

footer #elem1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer #elem1 img:hover{
    cursor: pointer;
    background-color: #4D4D4D;

}
 footer #elem3{
    color: #FFF;
text-align: right;
font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
cursor: pointer;
line-height: 32px; /* 160% */
 }
